In [3]:
import pandas as pd

# Библиотека Pandas. Д/З к лекции 10

**Задание 1.**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

dataset (ml-latest-small) size: 1 MB

In [23]:
data_ratings = pd.read_csv('ratings.csv')
data_movies = pd.read_csv('movies.csv')

#data_ratings.head()
#data_ratings.info()

#data_movies.head()
#data_movies.info()

id_movie_five = data_ratings[ data_ratings.rating == 5.0 ]['movieId'].value_counts().head(1)
#print(id_movie_five)

movie_five = data_movies[ data_movies.movieId == id_movie_five.index[0]]
#print(movie_five)
print(f'Фильму c movieId:{id_movie_five.index[0]}, {movie_five.title} выставлено больше всего оценок 5.0 ({id_movie_five.index[0]})')

Фильму c movieId:318, 277    Shawshank Redemption, The (1994)
Name: title, dtype: object выставлено больше всего оценок 5.0 (318)

**Задание 2.**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года.
Не учитывайте в расчетах отрицательные значения quantity.

In [38]:
data_power = pd.read_csv('power.csv')
#data_power.head()

#data_power['country'].unique()

data_filter = data_power[
    ( (data_power['category'] == 4)
    | (data_power['category'] == 12)
    | (data_power['category'] == 21))
    &
    ((data_power['country'] == 'Latvia')
    | (data_power['country'] == 'Lithuania')
    | (data_power['country'] == 'Estonia'))
    &
    ((data_power['year'] >=2005) & (data_power['year'] <=2010))
    &
    (data_power['quantity'] >= 0)
]

#data_filter.groupby(['category','country','year']).aggregate(sum)
data_filter.quantity.sum()

240580.0

**Задание 3.**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [43]:
df = pd.read_html('https://fortrader.org/quotes')[2]
#type(df)
df

                          Type      Last    Chg.  Chg.%  Time
0      Серебро Цена на серебро    17.457   0.003  0.017   NaN
1    Палладий Цена на Палладий  2173.500  -5.550 -0.250   NaN
2  Золото Цена золота на бирже  1570.430   3.370  0.220   NaN
3      Платина Цены на платину   974.100 -14.700 -1.500   NaN
4      Медь Цена меди на бирже     2.561  -0.026 -1.005   NaN

**Упражнение.**
Используем transactions.csv.

Для какой транзакции (столбец ID) были наибольшие расходы (столбец Cost) в категории "_8" (столбец Product)?

In [73]:
data_tr = pd.read_csv('transactions.csv')
#data_tr.head()
#data_tr.info()

data_filter = data_tr[ data_tr['Product'] == '_8']
#data_filter.shape
#data_filter

max_Cost = data_filter.Cost.max()
#data_filter.groupby('Cost').max()
#max_Cost

data_ID = data_filter[ data_filter.Cost == max_Cost]
data_ID.ID

54    t055
Name: ID, dtype: object